body {
    margin: 0;
    padding: 0;
    font-family: "Lucida Console";
}
body:before {
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/login-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: 0 0 30px 30px rgb(0, 0, 0);
    filter: blur(10px);
}
.login-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 500px;
    padding: 80px 40px;
    background: rgba(0,0,0,0.6);
}
.login-text h2 {
    margin: 0;
    padding: 0 0 20px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
.login-text p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #fff;
}
.login-text input {
    width: 100%;
    margin-bottom: 20px;
}
.login-text input[type=email], .login-text input[type=password] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 35px;
    color: #fff;
    font-size: 15px;
}
.login-text input[type=submit] {
    height: 30px;
    color: #fff;
    font-size: 15px;
    background: #4cc0e7;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    outline: none;
    margin-top: 15%;
    
}