body {
    padding:0px;
    margin: 0px;
    background-color: #0b1528;
    overflow-x: hidden;
}
.menu-principal {
    width: 100%;
    background-color: #152238;
    height: 60px;
}
main {
    margin: 0 auto;
    width: 100%;
    position: relative;
}
.col-100 {
    width: 100%;
    float: left;
    position:relative;
    margin-bottom: -6px;
}
.logo {
    float: left;
    width: fit-content;
    padding: 11px;
}
.name {
    width:fit-content;
    float: left;
    margin-left: 10px;
}
.name p {
    color: white;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 20px;
    position: relative;
    margin-left: 20px;
    padding: 1px;
    display: flex;
    float:right;
}
.menu {
    width:fit-content;
    float: left;
    margin-left: -30px;  
}
.menu ul li {
    position: relative;
    margin-left: 8px;
    padding: 6px;
    display: flex;
    float:left;
}
.menu ul li a{
    color: white;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 15px;
    text-decoration: none;
}
.menu ul li a:hover {
    color: grey;
}
/*.redes-sociais ul li {
    position: relative;
    margin-left: 10px;
    display: flex;
    float:left;
}
.redes-sociais {
    width:fit-content;
    float: right;
    margin-right: 10px;
}*/
.pesquisa {
    padding: 15px;
}
.pesquisa input {
    height: 25px;
    width: 1195px;
    border-radius: 10px;
    border-width: 0px;
    margin-left: 20px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 15px;
    background-color: #23324d;
    background-image: url('../img/search-icon.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 15px;
    background-position-x: 1176px
}
.user {
    float: right;
    width: fit-content;
    margin-top: -47px;
    margin-right: 9px;
}
.entrar {
    width:fit-content;
    float: right;
    margin-right: 60px;
}
.entrar p {
    color: white;
    font-size: 15px;
    font-family: "Lucida Console", "Courier New", monospace;
    position: relative;
    margin-top: -35px;
}
.entrar p:hover {
    color: grey;
}
.background {
    width: 100%;
    height: 717px;
    background: linear-gradient( rgba(4, 9, 30, 0.7), #0b1528 94%),url(../img/bgcopy.png);
}
.texto-boas-vindas {
    margin-top: -367px;
    margin-left: 40px;
    font-family: "Lucida Console", "Courier New", monospace;
    color: white;
}
.texto-boas-vindas h1 {
    font-size: 40px;
}
.texto-boas-vindas p {
    font-size: 15px;
}
.para-voce {
    margin-left: 40px;
    margin-top: 480px;
    width: 100%;
    height: 100%;
}
.title-fy {
    font-family: "Lucida Console";
    font-size: 30px;
    color:white;
    font-weight: bold;
    margin-bottom: 10px;
}
.albuns {
    font-family: "Lucida Console";
    color:white;
    font-size: 20px;
    text-decoration: underline;
    margin-top: 50px;
}
.container-albuns {
    display: grid;
    grid-template-columns: 165px 165px 165px 165px 165px;
    grid-template-rows: auto;
    gap: 5px;
}
.container-albuns div img {
    display: block;
    border-radius: 10px;
}
.artistas {
    font-family: "Lucida Console";
    color:white;
    font-size: 20px;
    text-decoration: underline;
    margin-top: 80px; 
}
.container-artists {
    display: grid;
    grid-template-columns: repeat(4, 165px);
    grid-template-rows: repeat(2, 165px);
    gap: 10px;
}
.item1 {
    grid-row: span 2;
    grid-column: span 2;
}
.item2, .item3, .item4, .item5 {
    width: 165px;
    height: 165px;
}
.listas {
    font-family: "Lucida Console";
    color:white;
    font-size: 20px;
    text-decoration: underline;
    margin-left: 1226px;
    margin-top: -693px;
    width: fit-content;
    height: fit-content;
}
.container-lista-1 {
  position:relative;
  height: 300px;
  width: 600px;
  top: 0px;
  left: 1225px;
  display: flex;
}
.container-lista-2 {
    position:relative;
    height: 300px;
    width: 600px;
    top: -11px;
    left: 1225px;
    display: flex;
  }
.container-lista-3 {
    position:relative;
    height: 300px;
    width: 600px;
    top: -15px;
    left: 1225px;
    display: flex;
  }
.card {
  display: flex;
  height: 165px;
  width: 200px;
  /*background-color: #17141d;*/
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
/*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.card:not(:first-child) {
    margin-left: -50px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}







