body {
    padding:0px;
    margin: 0px;
}
.menu-principal {
    width: 100%;
    background-color: #152238;
    height: 60px;
}
main {
    margin: 0 auto;
    width: 100%;
    position: relative;
}
.col-100 {
    width: 100%;
    float: left;
    position:relative;
    margin-bottom: -6px;
}
.logo {
    float: left;
    width: fit-content;
    padding: 11px;
}
.name {
    width:fit-content;
    float: left;
    margin-left: 10px;
}
.name p {
    color: white;
    font-size: 18px;
    position: relative;
    margin-left: -5px;
    padding: 1px;
    display: flex;
    float:right;
}
.menu {
    width:fit-content;
    float: left;
    margin-left: -30px;  
}
.menu ul li {
    position: relative;
    margin-left: 8px;
    padding: 6px;
    display: flex;
    float:left;
}
.menu ul li a{
    color: white;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 15px;
    text-decoration: none;
}
.menu ul li a:hover {
    color: grey;
}
/*.redes-sociais ul li {
    position: relative;
    margin-left: 10px;
    display: flex;
    float:left;
}
.redes-sociais {
    width:fit-content;
    float: right;
    margin-right: 10px;
}*/
.pesquisa {
    padding: 15px;
}
.pesquisa input {
    height: 25px;
    width: 1195px;
    border-radius: 10px;
    border-width: 0px;
    margin-left: 20px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 15px;
    background-color: #23324d;
    background-image: url('../img/search-icon.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 15px;
    background-position-x: 1176px
}
.user {
    float: right;
    width: fit-content;
    margin-top: -47px;
    margin-right: 9px;
}
.entrar {
    width:fit-content;
    float: right;
    margin-right: 60px;
}
.entrar p {
    color: white;
    font-size: 15px;
    font-family: "Lucida Console", "Courier New", monospace;
    position: relative;
    margin-top: -35px;
}
.entrar p:hover {
    color: grey;
}
.slider-principal img {
    border: none;
}
.background img{
    width: 100%;
}